

.btn2 {
  display: flex;
  font-weight: 400;
  padding: 0.6rem 1.4rem;
  background: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 22%));
  color: hsl(0, 0%, 90%);
  border-radius: 1rem;
  border: none;
  outline: none;
  row-gap: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in;
}

.btn2 a {
  color: hsl(0, 0%, 100%);
  font-weight: 0;
}

.btn2:hover {
  background: hsl(232, 73%, 35%);
  transform: scale(1.1);
 
}

.icon2{
  font-size: 1rem;
  font-weight: 600px;
   margin-left: 0.7rem;  
   justify-content: center;

 
}